//@font-face
//  font-family Arial
//  font-style normal
//  font-weight normal

html
  --deckgo-highlight-code-background: #f6f8fa
  --deckgo-highlight-code-font-size: 1rem
  --deckgo-highlight-code-box-shadow: none
  --deckgo-highlight-code-header-button-height: 0
  --deckgo-highlight-code-header-button-green-border: 0
  --deckgo-highlight-code-header-button-red-border: 0
  --deckgo-highlight-code-header-button-yellow-border: 0
  --deckgo-highlight-code-header-padding: 8px
  --deckgo-highlight-code-font-family: "LXGW WenKai Mono Lite", Consolas, Monaco, Menlo, Consolas, monospace
  --deckgo-highlight-code-border-radius 5px
  --deckgo-highlight-code-padding: 16px

  --deckgo-highlight-code-token-atrule: #ac4142;
  --deckgo-highlight-code-token-comment: #8f5536;
  --deckgo-highlight-code-token-comment-rgb: 143, 85, 54;
  --deckgo-highlight-code-token-function: #90a959;
  --deckgo-highlight-code-token-operator: #202020;
  --deckgo-highlight-code-token-property: #90a959;
  --deckgo-highlight-code-token-punctuation: #202020;
  --deckgo-highlight-code-token-regex: #f4bf75;
  --deckgo-highlight-code-token-selector: #ac4142;
  font-family $font-family
  &::-webkit-scrollbar
    width 8px
    height 8px

  &::-webkit-scrollbar-thumb
    height 40px
    background-color #eee
    border-radius 16px
    &:hover
      background-color #ddd
      
body
  font-size 12.5pt
  font-weight normal
  line-height 1.8em
  background-color $light-background-color
  color $light-font-color
  transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  &:before
    content ""
    background-repeat no-repeat
    background-position center
    opacity 0.05
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index -1

  &.dark-theme
    background-color $dark-background-color
    color $dark-font-color
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

a
  color $light-global-link-color
  text-decoration none
  transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  cursor pointer

  &:hover
    color $light-global-link-hover-color
    text-decoration none
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
    
  .dark-theme &
    color $dark-global-link-color
    text-decoration none
    transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
    &:hover
      color $dark-global-link-hover-color
      text-decoration none
      transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
