// ==============================
// Custom style
// ==============================
// Also You can override the variables in variable.styl to customize the style
.goback-posts {
  display: block;
  text-align: center;
}

.goback-posts .iconfont .icon-blog {
  font-size: 18px;
}

.navbar-header.header-logo {
  padding-left: 20px;
}

.anchor.before {
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

.anchor.after {
  display: inline-block;
  padding-left: 4px;
}

h1 .anchor svg, h2 .anchor svg, h3 .anchor svg, h4 .anchor svg, h5 .anchor svg, h6 .anchor svg {
  visibility: hidden;
}

h1:hover .anchor svg, h2:hover .anchor svg, h3:hover .anchor svg, h4:hover .anchor svg, h5:hover .anchor svg, h6:hover .anchor svg, h1 .anchor:focus svg, h2 .anchor:focus svg, h3 .anchor:focus svg, h4 .anchor:focus svg, h5 .anchor:focus svg, h6 .anchor:focus svg {
  visibility: visible;
}

h1,h2{
  font-weight: 400;
}

.katex-display
  overflow-x scroll
  overflow-y hidden
  
.katex-display::-webkit-scrollbar 
  display none


:not(pre) > code[class*="language-"], pre[class*="language-"]
  background none

.gatsby-highlight
  box-shadow 0px 0px 2px rgba(0, 0, 0, 0.2)
  border-radius 3px

.gatsby-highlight-code-line 
  background-color #feb
  display block
  margin-right -1em
  margin-left -1em
  padding-right 1em
  padding-left 0.75em
  border-left 0.25em solid #f99


body.dark-mode
  .gatsby-highlight
    background #2e2e2e

.gatsby-highlight pre[class*="language-"].line-numbers 
  padding-left 2.8em

.gatsby-highlight pre[class*="language-"].line-numbers 
  padding 0
  padding-left 2.8em
  overflow hidden

code[class*="language-"], pre[class*="language-"] 
  text-shadow none

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string
    background none

.line-numbers .line-numbers-rows
  padding-left 0.5em

.gatsby-highlight-code-line
  margin-left -0.5em