// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
.deckgo-highlight-code-carbon.deckgo-highlight-code-theme-one-light.hydrated{
  font-size: 12px;
}
.goback-posts{
  display: block;
  text-align: center;
}

.goback-posts .iconfont .icon-blog {
  font-size: 18px;
}
.navbar-header.header-logo{
  padding-left: 20px;
}