// 非衬线体 方正兰亭
// @font-face
//   font-family 'lanting'
//   src: url('../fonts/lanting/lanting.eot'); /* IE9 */
//   src: url('../fonts/lanting/lanting.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lanting/lanting.woff2') format('woff2'),
//           url('../fonts/lanting/lanting.woff') format('woff'),
//           url('../fonts/lanting/lanting.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
//   font-weight 300
//   font-display swap

// // 落霞孤鹜
// @font-face {
//   font-family: LXGW; 
//   src: url('../fonts/LXGWWenKaiLite/LXGWWenKaiLite-Regular.ttf'); 
// }
// @font-face {
//   font-family: LXGW-bold; 
//   src: url('../fonts/LXGWWenKaiLite/LXGWWenKaiLite-Bold.ttf');
// }
@import 'lxgw-wenkai-lite-webfont/style.css';

$font-family = "LXGW WenKai Lite",Rubik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Open Sans,Helvetica Neue,PingFang SC,Source Han Sans SC,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
